<div class="imagen_logo">
   <%= image_tag "faq_logo.jpg", :alt => "Cinex", :title => "Cinex"%>
</div>
<div class="descipcion">
   <h2> Preguntas Frecuentes</h2>
   <p> Cinex (Circuito Nacional de Exhibidores) es una cadena de cines de venezolana nacida en el año 1998 de la alianza de tres compañías (Circuito Radonski, Venefilms y el Grupo Blanco). A finales del año 2011 gracias a la venta del Circuito Radonski, se incorpora un nuevo socio de la marca Evenpro. Actualmente se encuentra en 12 ciudades y cuenta con 189 salas en 27 complejos, consolidándose como el circuito de salas de cine más grande del país. </p>
   <p> En 2014, la empresa involucra la tecnología 4D siendo el primer y único circuito cinematográfico que ofrece dicho servicio en Venezuela. </p>
   <p> Extraído de: <%= link_to "Wikipedia", "http://es.wikipedia.org/wiki/Cinex", :target => "_blank" %> </p>
   <p> Visitanos en nuestra Web: <%= link_to "Cinex", "http://www.cinex.com.ve/", :target => "_blank" %> </p>
</div>
<div class="clear"></div>