<p>
  <strong>Titulo del Comentario:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Texto del Comentario:</strong>
  <%= comment.body %>
</p>

<p>
  <b>Usuario:</b>
  <%= @article.user.name %>
</p>
 
<p>
  <%= link_to 'Eliminar Comentario', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Vas a eliminar el comentario, estas seguro?' } %>
</p>