<%= form_for([@trouble, @trouble.coments.build]) do |f| %>
 
<div class="large-12 columns">
 <label><span data-tooltip aria-haspopup="true" class="has-tip" title="Favor escribir un titulo para el problema">Titulo</span> 
    <%= f.text_field :commenter %>
   </label>
  </div>
  
<div class="row">
    <div class="large-12 columns">
  <label><span data-tooltip aria-haspopup="true" class="has-tip" title="Favor describir el problema de manera detallada">Descripcion</span> 
    <%= f.text_area :body, :cols => "30", :rows => "10" %>
    </label>
 </div>


<div class="large-12 columns">
  <p>
    <%= f.submit 'Agregar', class: 'button' %>
  </p>
  </div>
<% end %>


