<div class="imagen_logo">
   <%= image_tag "contact_logo.jpg", :alt => "Contacto", :title => "Contacto"%>
</div>
<div class="descipcion">
   <h2> Contactanos </h2>
   <p> ¿Quiere ponerse en contacto con el grupo de soporte o el administrador de la aplicacion? </p>
   <p> Telefonos: 011-555 0100 ext: 7297  </p>
   <p> Escribele al Administrador: <a href="mailto:cano19781@hotmail.com">Contáctame</a> </p>
  
<!--

 <p> Visitanos en nuestra Web: <%= link_to "Cinex", "http://www.cinex.com.ve/", :target => "_blank" %> </p>

-->


</div>
<div class="clear"></div>
